
* {box-sizing: border-box;}

.header, .main, .footer {
  display: block;
}

.header, .main__wrap, .footer__wrap {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.header {
  height: 100px;
}

.header_left {
  left: 0;
  float: left;
}

.header_right {
  right: 0;
  float: right;
}

.header_left, .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;                  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;            
  height: inherit;
  width: 50%;
}

.header_right {
  	justify-content: flex-end;
}


@media (min-width: 320px) { 
  .header, .main__wrap {
    width: 280px;
  }

@media (min-width: 375px) { 
  .header, .main__wrap {
    width: 280px;
  }
 
@media (min-width: 768px) { 
  .header, .main__wrap {
    width: 680px;
  }
  .footer__wrap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around; 
  }
}
@media (min-width: 1024px) { 
  .header, .main__wrap {
    width: 930px;
  }
  .shop {
    width: 930px; 
    margin: 0 auto;
  }
  .shop img {
    width: 100%; 
    height: auto;
  }
  .footer__wrap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around; 
  }
}
@media (min-width: 1280px) {
  .header, .main__wrap {
    width: 1030px;
  }
  .shop {
    width: 1030px; 
    margin: 0 auto;
  }
  .shop img {
    width: 100%; 
    height: auto;
  }
  .footer__wrap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around; 
  }
}


.mobile-menu {
  display: none;
  position: relative;  
}

.mobile-menu__icon span {
  display: block;
  position: absolute;
  top: 5px;
  right: 0; 
  height: 8px;
  width: 60px;
  background: black;
}

.mobile-menu__icon span:after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: 0; 
  height: 8px;
  width: 60px;
  background: black;
}

.logo {
  width: 55px;
  height: 55px;
}

.nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;                  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;            
  height: inherit;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around; 
  text-decoration: none;
  padding-inline-start: 45px;
}

.nav_item {
  text-transform: uppercase;
  list-style-type: none;          
  margin-right: 35px;
  margin-bottom: 15px;
}

.header a {
  color: black;
  text-decoration: none;          
  font-family: montserratbold;
  font-size: 12px;
  line-height: 11px;
}

.search-form, .sign-in, .cart {
  height: 24px;
  margin-right: 35px;
}

form {
  position: relative;
  width: 170px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

input, .search-form__button {
  border: none;
  outline: none;
  background: transparent;
}

input {
  width: 100%;
}

.search-form__button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search-form__button:before {
  content: url(img/search.png);
  font-family: FontAwesome;
  font-size: 12px;
  color: black;
}

.cart a::after{
  content: "\2776";
  margin-left: 4px;
}
  
.lang img {
  width: 20px;
  height: 20px;
}

.main {
  position: relative;
}

.shop {
  position: relative;
  margin-bottom: 50px;
}

.shop h2 {
  position: absolute;
  font-family: montserratbold;
  font-size: 30px;
  line-height: 29px;
  color: white;
  top: 65px;
  left: 60px;
  width: 100%;
}

.shop a {
  position: absolute;
  color: white;
  text-decoration: none;          
  font-family: montserratregular;
  font-size: 12px;
  line-height: 11px;
  top: 192px;
  left: 60px;
  width: 100%;
}

.shop a::after {
  content: "\2192";
  display: inline-block; 
  font-size: 20px;
  margin-left: 5px;
  width: 20px;
}

.main h3{
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
  font-family: montserratbold;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;                  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;            
  height: inherit;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  margin-bottom: 30px;
}

.product__content {
  flex-basis: 200px;
}
.product__line {
  background: black;
  content: "";
  height: 100px;
  width: 1px;
  opacity: 0.2;
}

.product__content img {
  margin-bottom: 10px;
}

.product__name {
  font-family: montserratregular;
  font-size: 12px;
  line-height: 11px;  
}

.product__price {
  font: bolder 14px/13px montserratregular;
  float: left;
  margin-block-start: 0;
}

.product__circle {
  float: right;
  margin-block-start: 0;
}

.product__content ul li {
  float: left;
  list-style: none;
}

.product__circle_silver {
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #C4C4C4;
  margin-right: 5px;
} 

.product__circle_black {
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #0E1211;
  margin-right: 5px;
} 

.product__circle_red {
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #B62E3C;
  margin-right: 5px;
} 

.product__circle_orange {
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #FDB431;
  margin-right: 5px;
} 

.product__circle_copper {
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #E29D69;
  margin-right: 5px;
} 

.product__circle_brown {
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #762E31;
  margin-right: 5px;
} 

.product__circle_blue {
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #41479B;
  margin-right: 5px;
} 

.product__circle_skyblue {
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #257DA9;
  margin-right: 5px;
} 

.video {
  background: black; 
  margin-bottom: 80px;
}

.video h3 {
  color: white;
  text-align: left;
  line-height: 27px;
}

.video__img {
  margin: 65px 20px 65px 32px;
  display: inline-block;
  width: 63%;
}

.video__about {
  position: relative;
  margin-top: 133px;
  margin-right: 20px;
  float: right; 
  width: 28%;
}

.video__about p {
  font-family: montserratregular;
  font-size: 13px;
  line-height: 18px;
  color: white;
  margin-right: 30px;
}

.video__about a {
  position: absolute;
  color: white;
  text-decoration: none;
  font-family: montserratbold;
  font-size: 12px;
  line-height: 11px;
  width: 100%;
}

.video__about a::after {
  content: "\2192";
  display: inline-block; 
  font-size: 20px;
  margin-left: 5px;
  width: 40px;
}

.stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;                  
  height: inherit;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; 
  margin-top: 40px;
  margin-bottom: 75px;
}

.stories__content {
  position: relative;
  flex-basis: 300px;
}

.stories__content img {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.stories__title {
  font-family: montserratbold;
  letter-spacing: 1px;
  margin-block-end: 0;
}

.stories__text {
  font-family: montserratregular;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
}

.stories__learn-more {
  position: absolute;
  color: black;
  text-decoration: none;
  font-family: montserratbold;
  font-size: 12px;
  line-height: 11px;
  left: 0;
  bottom: 0;
}

.stories__learn-more::after {
  content: "\2192";
  display: inline-block; 
  font-size: 20px;
  margin-left: 5px;
  width: 40px;
}

.stories__date {
  position: absolute;
  margin-block-start: 5px;
  margin-block-end: 0;
  color: grey;
  font-family: montserratbold;
  font-size: 12px;
  line-height: 11px;
  right: 0;
  bottom: 0;
}

.inst-title {
  color: grey;
  margin-block-end: 0.8em;
}

.inst_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;                  
  margin-top: 0;
  margin-bottom: 80px;
}

.inst_items img {
  position: relative;
  display: inline-block;
  max-width: 14.28%;
  height: auto;
}

.footer {
  position: relative;
  height: 300px;
  background: black;
  color: white;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;                  
  height: inherit;
  width: 880px;
  margin: 0 auto;
}

.footer__title {
  margin-block-start: 6em;
  margin-block-end: 0;
  font-family: montserratbold;
}
.footer__items, .footer__icon {
  padding-inline-start: 0px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}  

.footer__item {
  list-style-type: none;
}

.footer__wrap a {
  color: white;
  font-family: montserratregular;
  font-size: 12px;
  line-height: 11px;
  text-decoration: none;
}

.footer__wrap img {
  float: left;
  margin-right: 25px;
}

.footer__wrap button {
  background: black;
  color: white;
  font-family: montserratregular;
  font-size: 10px;
  line-height: 10px;
  border: 2px solid white;
  width: 137px;
  height: 30px;
  margin-bottom: 25px;
}

.footer__wrap p {
  font-family: montserratregular;
  font-size: 12px;
  line-height: 11px;
}

.footer__text {
  position: absolute;
  bottom: 30px;
  left: 42%;
  color: white;
  font-family: montserratregular;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
}

@media (min-width: 376px) and (max-width: 1023px) {
  .header_left, .header_right {
    display: none;
    max-width: none;
    padding: 0;
  }
  
  .mobile-menu {
    display: block;
    width: 100%;
  }

  .mobile-menu img {
    height: 35px;
  }
  
  .shop {
    margin-bottom: 60px;
  }

  .shop img {
    width: 1300px; 
    height: 415px;
    object-fit:cover;
  }
 
  .shop h2 {
    position: absolute;
    color: white;
    top: 80px;
    left: 45px;
    font-size: 50px;
    line-height: 48px;
  }

  .shop a {
    position: absolute;
    color: white;
    top: 310px;
    left: 45px;
    font-size: 20px;
    line-height: 19px;
  }

  .shop a::after {
    content: "\2192";
    display: inline-block; 
    font-size: 20px;
    margin-left: 5px;
    width: 20px;
  }

  .main h3{
    font-size: 30px;
    line-height: 29px;
    letter-spacing: 0.5px; 
    margin-bottom: 20px;
  }
  
  .product {
    margin-bottom: 80px;
  }
  
  .product__content:nth-child(n+4) {
    display: none;
    max-width: none;
  } 
  
  .product__line {
    display: none;
    max-width: none;
  }
  
  .product__content {
    flex-basis: 300px;
  }
  
  .product__content img {
    width: 80%;
    display: inline-block;
  }

  .product__name {
    font-size: 20px;
    line-height: 19px;  
  }

  .product__price {
    font: bolder 25px/24px montserratregular;
  }

  .product__circle_silver {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #C4C4C4;
    margin-right: 5px;
  } 

  .product__circle_black {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #0E1211;
    margin-right: 5px;
  } 

  .product__circle_red {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #B62E3C;
    margin-right: 5px;
  } 

  .product__circle_orange {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FDB431;
    margin-right: 5px;
  } 

  .product__circle_copper {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #E29D69;
    margin-right: 5px;
  } 

  .product__circle_brown {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #762E31;
    margin-right: 5px;
  } 

  .product__circle_blue {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #41479B;
    margin-right: 5px;
  } 

  .product__circle_skyblue {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #257DA9;
    margin-right: 5px;
  } 

  .main__mobile-back {
    display: block;
    position: absolute;
    background: black; 
    top: 910px;
    left: -50px;
    width: 1025px;
    height: 1600px;
    transform: rotate(2.6deg);
    z-index: 0;
  }

  .video {
    background: none;
    margin-bottom: 125px;
  }

  .video h3 {
    color: white;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
  }

  .video__img {
    margin: 0;
    display: inline-block;
    width: 100%;
  }

  .video__about {
    position: relative;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
  }

  .video__about p {
    margin-right: 0;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }

  .video__about a {
    display: none;
    width: 0;
  }
  
  .stories {
    margin-bottom: 125px;
  }
  .stories-title, .inst-title, .stories__text, .stories__learn-more, .stories__date{
    color: white;
  }

  .stories__content:nth-child(n+3) {
    display: none;
    max-width: none;
  } 
  
  .stories__content {
    flex-basis: 320px;
  }

  .stories__title {
    font-size: 24px;
    line-height: 23px;
    letter-spacing: 0;
  }

  .stories__text {
    font-size: 20px;
    line-height: 25px;
    margin-block-start: 0.5em;
    margin-block-end: 2.5em;
  }

  .stories__learn-more {
    font-size: 20px;
  }

  .stories__date {
    font-size: 15px;
  }
  
  .inst-title {
    font-size: 30px;
    margin-block-end: 0.5em;
    
  }

  .inst-items {
    flex-wrap: wrap;
    margin-bottom: 120px;
  }

  .inst-items img {
    max-width: 100%;
    height: 170px;
    flex-basis: 170px;
  }
  
  .footer__wrap {
    width: 680px;
  }
} 

@media (min-width: 320px) and (max-width: 375px) { 
  .header {
    height: 72px;
  }

  .header_left, .header_right {
    display: none;
    max-width: none;
    padding: 0;
  }
  
  .mobile-menu {
    display: block;
    width: 100%;
  }

  .mobile-menu img {
    height: 22px;
    margin-left: 20px;
  }

  .mobile-menu__icon span {
    top: 5px;
    right: 0; 
    height: 5px;
    width: 40px;
  }

  .mobile-menu__icon span:after {
    top: 10px;
    right: 0; 
    height: 5px;
    width: 40px;    
  }

  .shop {
    margin-bottom: 35px;
  }
  
  .shop img {
    width: 1300px; 
    height: 190px;
    object-fit:cover;
  }
 
  .shop h2 {
    position: absolute;
    color: white;
    top: 50px;
    left: 50px;
    font-size: 20px;
    line-height: 19px;
  }

  .shop a {
    position: absolute;
    color: white;
    top: 140px;
    left: 50px;
    font-size: 12px;
    line-height: 11px;
  }

  .main h3 {
    letter-spacing: 0;
    margin-bottom: 0;
  }

  .product {
    margin-bottom: 70px;
  }

  .product__content:nth-child(n+2) {
    display: none;
    max-width: none;
  }

  .product__line {
    display: none;
    max-width: none;
  }
  
  .product__content {
    flex-basis: 200px;
  }
  
  .product_content img {
    width: 80%;
    display: inline-block;
  }

  .product__name {
    font-size: 15px;
    line-height: 14px;  
  }

  .product__price {
    font: bolder 20px/19px montserratregular;
  }

  .product__circle_silver {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #C4C4C4;
    margin-right: 5px;
  } 

  .product__circle_black {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #0E1211;
    margin-right: 5px;
  } 

  .product__circle_red {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #B62E3C;
    margin-right: 5px;
  } 

  .product__circle_orange {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FDB431;
    margin-right: 5px;
  } 

  .product__circle_copper {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #E29D69;
    margin-right: 5px;
  } 

  .product__circle_brown {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #762E31;
    margin-right: 5px;
  } 

  .product__circle_blue {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #41479B;
    margin-right: 5px;
  } 

  .product__circle_skyblue {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #257DA9;
    margin-right: 5px;
  } 

  .main__mobile-back {
    display: block;
    position: absolute;
    background: black; 
    top: 570px;
    left: -50px;
    width: 1500px;
    height: 1300px;
    transform: rotate(2.6deg);
    z-index: 0;
  }

  .video {
    background: none;
    margin-bottom: 100px;
  } 

  .video h3 {
    color: white;
    text-align: center;
    white-space: nowrap;
  }

  .video__img {
    margin: 15px  0 0 15px;
    display: inline-block;
    width: 100%;
  }

  .video__about {
    position: relative;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
  }

  .video__about p {
    margin-right: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .video__about a {
    display: none;
    width: 0;
  }

  .stories {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .stories-title, .inst-title, .stories__text, .stories__learn-more, .stories__date{
    color: white;
  }

  .stories__content:nth-child(n+2) {
    display: none;
    max-width: none;
  } 
  
  .stories__content {
    flex-basis: 320px;
  }

  .stories__title {
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0;
  }

  .stories__text {
    font-size: 14px;
    line-height: 17px;
    margin-block-start: 0.5em;
    margin-block-end: 2.5em;
  }

  .stories__learn-more {
    font-size: 12px;
  }

  .stories__date {
    font-size: 15px;
  }
  
  .inst-title {
    font-size: 25px;
    margin-block-end: 0.5em;
  }

  .inst-items {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .inst-items img {
    max-width: 100%;
    height: 140px;
    flex-basis: 140px;
  }
  
  .inst-items img:nth-child(n+7) {
    display: none;
    max-width: none;
  } 
  
  .footer {
    height: 900px;
  }

  .footer__wrap {
    width: 280px;
    -webkit-flex-direction: row-reverse;
    flex-direction: column;

  }

  .footer__title {
    margin-block-start: 3em;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
  }

  .footer__item {
    text-align: center;
  }

  .footer__wrap a {
    font-size: 15px;
    line-height: 14px;
  }

  .footer__wrap button {
    font-size: 12px;
    line-height: 11px;
    width: 150px;
    height: 40px;
    margin: 20px 20px 90px 60px;    
  }

  .footer__icon {
    margin-left: 50px;  
  }

  .footer__wrap img {
    margin-right: 35px;
  }

  .footer__wrap p {
    font-size: 15px;
    line-height: 14px;
    text-align: center;
  }

  .footer__text {
    position: absolute;
    bottom: 30px;
    left: 10%;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
  }

}
